<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="CETIUC provee un benchmark de la satisfacción de los usuarios TI incluyendo las organizaciones que históricamente se han medido ">
	<meta name="keywords" content="CETIUC, Satisfaccion TI, Servicios TI, NPS, Calidad de servicios, Medición, Benchmark">

	<title>ITSat-Benchmark</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
	<div class="logo">
		<a href="../index.html"><img src="../assets/img/CETIUC.png" alt=""></a>
	</div>
	<nav>
		<div class="menu-hamburguesa">
			<input type="checkbox" id="menu">
			<label for="menu"> ☰ </label>
			<ul class="navbar">
				<li><a href="./quienes-somos.html">QUIENES SOMOS</a></li>
				<li><a href="./servicios.html">SATISFACCION TI</a></li>
				<li><a href="#">ESTADISTICAS</a></li>
				<li><a href="./contactenos.html">CONTACTO</a></li>	
			  </ul>
		</div>
		<ul class="navbar">
			<li><a href="./quienes-somos.html">QUIENES SOMOS</a></li>
			<li><a href="./servicios.html">SATISFACCION TI</a></li>
			<li><a href="#">ESTADISTICAS</a></li>
			<li><a href="./contactenos.html">CONTACTO</a></li>			
		</ul>
	  </nav>
	</header>  
	<main>
		<br>
		<h2>Estadísticas</h2>
		<br>
		<h3>A continuación se presenta un resumen de los resultados de Indicadores Netos de las empresas que han realizado el Estudio de Satisfacción de Usuarios TI al interior de sus organizaciones.</h3>
		<br>
		<h4>¿Qué es el Indicador Neto?</h4>
		<h6>El Indicador Neto se define como la sustracción del porcentaje de promotores  (evaluaciones con notas 6 o 7) y el porcentaje de detractores (evaluaciones con notas de 1 a 4) a una pregunta en particular </h5>
		<br>
		<br>
		<br>
		<br>
		<div class="main_estadisticas">
		<section class="section-9"> 
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/general-425.jpeg">
				<img src="../assets/img/general.jpeg">	
			</picture>
		</section>	
		<section class="section-11"> 
			<h4>Pregunta: ¿Cómo evalúa su nivel global de satisfacción con el área TIC?</h4>
		</section>
		<section class="section-10">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/wifi-425.jpeg">
				<img src="../assets/img/wifi.jpeg">
		</picture>
		</section>
		<section class="section-12"> 
			<h4>Medición de la satisfacción respecto a  Wifi, como Cobertura, Velocidad y Disponibilidad</h4>
		</section>
		<section class="section-13">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/internet-425.jpeg">
				<img src="../assets/img/internet.jpeg">
			</picture>
		</section>
		<section class="section-14"> 
			<h4>Medición de la satisfacción respecto a Internet por cable como Cobertura, Velocidad y Disponibilidad</h4>
		</section>
		<section class="section-15">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/mesadeayuda-425.jpeg">
				<img src="../assets/img/mesadeayuda.jpeg">
			</picture>
		</section>
		<section class="section-16"> 
			<h4>Medición de la satisfacción respecto a Mesa de Servicios (o ayuda): Atención, Solución de Problemas, Comunicación, entre otros.</h4>
		</section>
		<section class="section-17">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/correo-425.jpeg">
				<img src="../assets/img/correo.jpeg">
			</picture>
		</section>
		<section class="section-18"> 
			<h4>Medición de la satisfacción respecto a  aspectos claves en la imagen de TI de cara al resto de la organización, como: Innovación, Alineamiento al negocio, Incremento de Productividad, etc.</h4>
		</section>
		<section class="section-19">
			<picture>
				<source media="(max-width: 425px)" srcset="../assets/img/apoyo-425.jpeg">
				<img src="../assets/img/apoyo.jpeg">
			</picture>
		</section>
		<section class="section-20"> 
			<h4>Medición de la satisfacción respecto a  aspectos tangibles del computador y/o el soporte asociado.</h4>
		</section>
		<section class="section-21">
			<img src="../assets/img/equipo.jpeg">
		</section>
		<section class="section-22"> 
			<h4>Medición de la satisfacción respecto a aspectos tangibles de las impresoras y/o el soporte asociado.</h4>
		</section>
		<section class="section-23">
			<img src="../assets/img/impresoras.jpeg">
		</section>
		<section class="section-24"> 
			<h4>Medición de la satisfacción respecto a Software Generales y específicos de la organización.</h6>
		</section>
		<section class="section-25">
			<img src="../assets/img/software.jpeg">
		</section>
		<section class="section-26"> 
			<h4>Medición de la satisfacción respecto a los servicios de mantinimiento de aplicaciones de negocio.</h4>
		</section>
		<section class="section-27">
			<img src="../assets/img/mantencion.jpeg">
		</section>
		<section class="section-28"> 
			<h4>Medición de la satisfacción respecto a servicios y equipamiento del servicio de telefonía provisto</h4>
		</section>
		<section class="section-29">
			<img src="../assets/img/telefonia.jpeg">
		</section>
		<section class="section-30"> 
			<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, doloremque modi provident nobis temporibus omnis dolore commodi! Atque sint laboriosam enim nemo quaerat deserunt corrupti illum sapiente, dolores quisquam sit.</h4>
		</section>
		</div>
	</main>


	<footer>
		<nav>
			<ul class="menupie">
				<li><a href="../views/error404.html">Términos y Condiciones</a></li>
				<li><a href="../views/error404.html">Política de Privacidad</a></li>
				<li><a href="../views/error404.html">Empresa</a></li>
				<li><a href="../views/error404.html">Contactáctanos</a></li>
			</ul>
		</nav>
	</footer>

</body>
</html>