<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="CETIUC es un Centro de Estudios pertenenciente a DICTUC S.A., empresa de la Escuela de Ingeniería de la Pontificia Universidad Católica.">
	<meta name="keywords" content="CETIUC, Satisfaccion TI, Servicios TI, NPS, Calidad de servicios, Medición, Benchmark">

	<title>ITSat-Nosotros</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>

	<header>	
		<div class="logo">
			<a href="../index.html"><img src="../assets/img/CETIUC.png" alt=""></a>
		</div>
		<nav>
			<div class="menu-hamburguesa">
				<input type="checkbox" id="menu">
				<label for="menu"> ☰ </label>
				<ul class="navbar">
					<li><a href="#">QUIENES SOMOS</a></li>
					<li><a href="./servicios.html">SATISFACCION TI</a></li>
					<li><a href="./estadisticas.html">ESTADISTICAS</a></li>
					<li><a href="./contactenos.html">CONTACTO</a></li>
				  </ul>
			</div>
			<ul class="navbar">
				<li><a href="#">QUIENES SOMOS</a></li>
				<li><a href="./servicios.html">SATISFACCION TI</a></li>
				<li><a href="./estadisticas.html">ESTADISTICAS</a></li>
				<li><a href="./contactenos.html">CONTACTO</a></li>	
			</ul>
		  </nav>
	</header>

	<main>
		<div class="main-quienes-somos">
		<div class="section-31">
			<div class="texto-1">
			<h8>CETIUC nace el año 2003 para responder a la necesidad de contar con una organización dedicada a estudiar y difundir el uso estratégico de las Tecnologías de Información, y ser un aporte para el desarrollo de la economía. Nuestra misión es entregar información clave para la toma de decisiones en la dirección y gestión de las TI.</h8>
			<h8>CETIUC pertenece a la Dirección de Investigaciones Científicas y Tecnológicas de la Pontificia Universidad Católica de Chile (DICTUC) y cuenta con académicos y profesionales altamente calificados, para la planificación y desarrollo de estudios que sean claves para un uso estratégico de las Tecnologías de Información.</h8>
			</div>	
		</div>
		<div class="section-32">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Ea4ZVR4dqI0?si=dCX9nAwjDCmAA91z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		</div>	
	</main>
	
	<footer>
		<nav>
			<ul class="menupie">
				<li><a href="../views/error404.html">Términos y Condiciones</a></li>
				<li><a href="../views/error404.html">Política de Privacidad</a></li>
				<li><a href="../views/error404.html">Empresa</a></li>
				<li><a href="../views/error404.html">Contactáctanos</a></li>
			</ul>
		</nav>
	</footer>


</body>
</html>