<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="CETIUC desarrolló un modelo de medición basado en el modelo SERVQUAL">
	<meta name="keywords" content="CETIUC, Satisfaccion TI, Servicios TI, NPS, Calidad de servicios, Medición, Benchmark">

	<title>ITSat-Servicio</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>	
		<div class="logo">
			<a href="../index.html"><img src="../assets/img/CETIUC.png" alt=""></a>
		</div>
		<nav>
			<div class="menu-hamburguesa">
				<input type="checkbox" id="menu">
				<label for="menu"> ☰ </label>
				<ul class="navbar">
					<li><a href="./quienes-somos.html">QUIENES SOMOS</a></li>
					<li><a href="#">SATISFACCION TI</a></li>
					<li><a href="./estadisticas.html">ESTADISTICAS</a></li>
					<li><a href="./contactenos.html">CONTACTO</a></li>	
				  </ul>
			</div>
			<ul class="navbar">
				<li><a href="./quienes-somos.html">QUIENES SOMOS</a></li>
				<li><a href="#">SATISFACCION TI</a></li>
				<li><a href="./estadisticas.html">ESTADISTICAS</a></li>
				<li><a href="./contactenos.html">CONTACTO</a></li>			
			</ul>
		  </nav>
	</header>
	<main>
	<div class="servicio">
		<div class="section-33">
		<h2> Servicios TI</h2>
		<h3> Estos son algunos de los servicios TI que han sido medidos</h3>
		</div>
		<div class="section-34">
			<table class="tabla-servicios">
				<tr>
				  <th>Masivos</th>
				  <th>Específicos</th>
				</tr>
				<tr>
				  <td>Software</td>
				  <td>PC/Notebook</td>
				</tr>
				<tr>
				  <td>Correo electrónico</td>
				  <td>Software específico</td>
				</tr>
				<tr>
					<td>Mesa de ayuda</td>
					<td>Mantenimiento de aplicaciones</td>
				  </tr>
				<tr>
					<td>PC/Notebook</td>
					<td>Desarrollo de Software</td>
				</tr>
				<tr>
					<td>Internet cableada</td>
					<td>Capacitación</td>
				</tr>
				<tr>
					<td>Wi-Fi</td>
					<td>ERP</td>
				</tr>
			  </table>
		</div>
		<div class="section-35">
			<h2> Dimensiones</h2>
			<h3> Por cada servicio a medir, estas son las eventuales dimensiones medidas:</h3>		
		</div>
		<div class="section-36">
			<table class="tabla-dimensiones">
				<tr>
				  <td class="atributo">Materialidad</td>
				  <td class="ejemplo">El computador es moderno</td>
				</tr>
				<tr>
				  <td class="atributo">Confiabilidad</td>
				  <td class="ejemplo">El software funciona cuando lo necesito</td>
				</tr>
				<tr>
				  <td class="atributo">Seguridad</td>
				  <td class="ejemplo">Me inspira confianza</td>
				</tr>
				<tr>
					<td class="atributo">Empatia</td>
					<td class="ejemplo">Comprenden mis necesidades</td>
				  </tr>
			  </table>		
		</div>
	</div>
</main>
<footer>
	<nav>
		<ul class="menupie">
			<li><a href="../views/error404.html">Términos y Condiciones</a></li>
			<li><a href="../views/error404.html">Política de Privacidad</a></li>
			<li><a href="../views/error404.html">Empresa</a></li>
			<li><a href="../views/error404.html">Contactáctanos</a></li>
		</ul>
	</nav>
</footer>

</body>
</html>