footer{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #53565a;
    padding: 1.5rem 1.5rem;
    top: 0;
    .menupie{
        display: flex;
        flex-direction: center;
        list-style: none;
        gap: 2rem;
        li a{
            color: $bg;
            text-decoration: none;
            font-size: 0.8rem;
            font-family: 'Gotham Rounded Light';
            &:hover{
                color: rgb(41, 42, 43);
            }
        }
        
    }
}